<footer class="footer band band--light" role="contentinfo">
  <div class="container footer__grid">
    <!-- Columna 1: Navegación -->
    <section class="footer__col">
      <h3 class="footer__title">NAVEGACIÓN:</h3>
        <ul class="footer__links">
          <li><a href="#">Pólizas</a></li>
          <li><a href="#">¿Cómo funciona?</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Aviso de Privacidad</a></li>
        </ul>
    </section>

    <!-- Columna 2: Contáctanos -->
    <section class="footer__col">
      <h3 class="footer__title">CONTÁCTANOS</h3>
      <ul class="footer__contact">
        <li>
          <span class="ico" aria-hidden="true">
            <!-- mail -->
             <img src="assets/img/sobre.png" alt="mail"> 
          </span>
          <a>contacto@pji.com.mx</a>
        </li>
        <li>
          <span class="ico" aria-hidden="true">
            <!-- phone -->
             <img src="assets/img/telefono.png" alt="phone"> 
          </span>
          <a>55 1234 5678</a>
        </li>
      </ul>
    </section>

    <!-- Columna 3: Logo + redes -->
    <section class="footer__col footer__brand">
      <div class="footer__logo">
        <img src="assets/img/logo-pji.png" alt="Logo PJI"> 
      </div>

      <ul class="footer__social" aria-label="Redes sociales">
        <li>
          <a href="#" aria-label="LinkedIn">
            <img src="assets/img/linkedin.png" alt="linkedin"> 
          </a>
        </li>
        <li>
          <a href="#" aria-label="Facebook">
            <img src="assets/img/facebook.png" alt="facebook">
          </a>
        </li>
        <li>
          <a href="#" aria-label="Instagram">
            <img src="assets/img/instagram.png" alt="instagram">
          </a>
        </li>
        <li>
          <a href="#" aria-label="WhatsApp">
            <img src="assets/img/whatsapp.png" alt="whatsapp">
          </a>
        </li>
      </ul>
    </section>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <p>© {{ currentYear }} PJI. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>