:host{display:block}

.hero {
  background: 
    linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url('/assets/img/hero-bg.jpg') center/cover no-repeat;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-color: rgba(29,
      76,
      44,
      0.5);
  background-blend-mode: multiply;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-content {
  flex: 1 1 45%;
  max-width: 500px;

  h1 {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    span {
      color: #ADFF2F;
    }
  }

  p {
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .btn-primary {
    background-color: #92B428;
    color: white;
    padding: 0.8rem 1.6rem;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem; 
    transition: all 0.3s ease;

    i {
      font-size: 1.1rem;
      color: #fff;
      transition: transform 0.3s ease;
    }
      
    &:hover i {
      transform: translateX(4px);
    }

    &:hover {
      background-color: #006400;
      transform: translateY(-2px);
    }
  }
}